<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Squad</title>
</head>
<body>

<%= @squad['id'] %>

<h3>Edit Squad</h3>
<form action="/squads/<%= @squad['id'] %>" method="POST">
  <input type="hidden" name="_method" value="put">
  Name: <input type="text" name="name" value="<%= @squad['name'] %>">
  Mascot: <input type="text" name="mascot" value="<%= @squad['mascot'] %>">
  <input type="submit" value="Update squad">
</form>

</body>
</html>