<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Squad</title>
</head>
<body>

<h3>Add a new Squad</h3>
<form action="/squads" method="POST">
  Name: <input type="text" name="name" autofocus>
  Mascot: <input type="text" name="mascot">
  <input type="submit" value="create squad">
</form>

</body>
</html>