<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Individual Student</title>
</head>
<body>

  <h4>id = <%= @squad_id %></h4>
  <h4>student_id = <%= @student_id %></h4>
  <h4>sql returns = <%= @student %></h4>


</body>
</html>