<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>showsquad.erb</title>
</head>
<body>
  
<h2>Team: <%= @squad['name'] %> Mascot: <%= @squad['mascot'] %> <%= @squad['id'] %></h2>

<form action="/squads/<%= @squad['id'] %>/squadmembers" method="post">
  <input type="submit" value="show students">
</form>


</body>
</html>
